{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tivona</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">
</head>

<style>
    .wallet-balance {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .balance-amount {
        font-size: 36px;
        color: #28a745;
    }
</style>

<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                             <li><i class="fa fa-envelope"></i> hello@.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div> -->
                    <div class="col-lg-12 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="{%static 'img/language.png'%}" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                {% if user.is_authenticated %}
                                <a href="{% url 'profile page' user.id %}"><i class="fa fa-user"></i>
                                    {{ user.username}}</a>
                                {% else %}
                                <a href="{% url 'login page' %}"><i class="fa fa-user"></i> Login/Signup</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{%url 'home page'%}"><img src="{%static './img/logo.png'%}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-3" style="padding: 20px;">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{%url 'home page'%}">Home</a></li>
                            <li><a href="{%url 'shop page'%}">Store</a>
                                <ul class="header__menu__dropdown">
                                    {% for category in categories %}
                                    {% if category.is_listed %}
                                    <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{%url 'shoping-cart'%}">Shop Cart</a></li>
                            <!-- <li><a href="./checkout.html">Check Out</a></li> -->
                            <li><a href="{%url 'contact page'%}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3" style="padding: 20px;">
                    <div class="header__cart">
                        <ul>
                            <li><a href="{%url 'contact page'%}"><i class="fa fa-heart"></i></a></li>
                            <li><a href="{%url 'shoping-cart'%}"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                        <!-- <div class="header__cart__price">item: <span>$150.00</span></div> -->
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <div class=" justify-content-center" style="background:url('../static/img/hero/banner.jpg'); ">
        <!-- <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumb_iner">
                            <div class="breadcrumb_iner_item">
                                <h2 class='text-success'>My Account</h2>
                                <p class='text-dark'>Home <span>-</span> My Account</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <div class=" flex-grow-1 p-5 ">
            {% comment %}
            <h4 class="font-weight-bold py-3 mb-4">
                Account settings
            </h4>
            {% endcomment %}

            <div class="card overflow-hidden ">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-2 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action " data-toggle="list"
                                href="{%url 'profile page' user.id%}">Profile</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="{%url 'change_password' user.id %}">Change password</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="{%url 'address_manage' user.id %}">Address</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="{%url 'order_history'%}">Order history</a>
                            <a class="list-group-item list-group-item-action active btn-success" data-toggle="list"
                                href="{%url 'wallet_details'%}">Wallet</a>

                            <div class="p-3 pl-6 px-6 my-6">
                                <a class="btn text-danger" href="{%url 'logout'%}">Logout</a>
                            </div>
                            <!-- {% comment %} <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-connections">Connections</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a> {% endcomment %} -->
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="container">
                            <div class="tab-pane fade show active" id="wallet">
                                <h1 class="wallet-balance" style="margin-left: 5%;"> Wallet Balance </h1>
                                <p class="balance-amount" style="margin-left: 45%;"> ₹ {{ balance_amount }}</p>

                                {%if balance_amount != 0 %}

                                <table class="table table-bordered">

                                    <thead class="thead-light">
                                        <tr>
                                            <th>Transaction Id</th>
                                            <th>Amount</th>
                                            <th>Transaction Type</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>

                                    {%for transaction in transactions %}
                                    <tbody>
                                        <tr>
                                            <td>{{ transaction.id }}</td>
                                            <td>{{ transaction.amount }}</td>
                                            <td>{{ transaction.transaction_type }}
                                            <td>{{ transaction.timestamp }}</td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>