{%load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="tivona Template">
    <meta name="keywords" content="Tivona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tivona</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    

    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>
<style>
    .product__pagination a {
        margin: 0 5px;
        padding: 0px 5px;
        text-decoration: none;
        border: 1px solid #ddd;
        color: #02920e;
    }

    .product__pagination a.active {
        background-color: #02920e;
        color: #fff;
    }
    #suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    }

    #suggestions li {
    display: block;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    }

    #suggestions li:hover {
    background-color: #f0f0f0;
    }
</style>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-6 col-md-6">
                    </div> -->
                    <div class="col-lg-12 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="/media/language.png" alt="">
                                <div>English</div>
                            </div>
                            <div class="header__top__right__auth">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'profile page' user.id %}"><i class="fa fa-user"></i>{{ user.username }}</a>
                                {% else %}
                                    <a href="{% url 'login page' %}"><i class="fa fa-user"></i> Login/Signup</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'home page' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6" style="padding: 20px;">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{% url 'home page' %}">Home</a></li>
                            <li><a href="{% url 'shop page' %}">Store</a>
                                <ul class="header__menu__dropdown">
                                    {% for category in categories %}
                                    {% if category.is_listed %}
                                    <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{% url 'shoping-cart' %}">Shopping Cart</a></li>
                            <li><a href="{% url 'contact page' %}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                    <div class="header__cart" style="display: flex;margin-top: 25px;">
                        <div class="header__search">
                            <form id="search-form" action="{% url 'search' %}" method="get">
                                <input type="text" id="search-input" name="search" placeholder="Search for products..." autocomplete="off">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <ul id="suggestions"></ul>
                        </div>
                        <ul style="margin-left: 10px;">
                            <li><a href="{% url 'wishlist' %}"><i class="fa fa-heart"></i></a></li>
                            <li><a href="{% url 'shoping-cart' %}"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="hero__item set-bg" data-setbg="{%static 'img/hero/banner.jpg'%}">
                        <div class="hero__text">
                            <span>Best Quality Plants </span>
                            <h2>Amazing Variety Of Plants <br />Starting Just Rs 99</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="{%url 'shop page'%}" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="d-flex flex-wrap">
                <!-- Offers Section -->
                <div class="col-lg-3">
                    <a href="{%url 'offers'%}">
                    <div style="background-image: url('/media/offer.png'); background-size: cover; background-position: center; height: 100%; width: 100%;">
                    </div>
                </a>
                </div>
                <!-- Categories Carousel -->
                <div class="col-lg-9">
                    <div class="categories__slider owl-carousel">
                        <!-- Loop through categories -->
                        {% for category in categories %}
                            {% if category.is_listed %}
                                <div class="categories__item set-bg equal-height mx-2" data-setbg="{{ category.image.url }}">
                                    <h5><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></h5>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!-- End loop -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter="indoor">Indoor Plants</li>
                            <li data-filter="outdoor">Outdoor Plants</li>
                            <li data-filter="flowering">Flowering Plants</li>
                            <li data-filter="cactus">Cactus</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="row">
                    {% for product in page_obj.object_list %}
                    {% if product.is_listed %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                            </div>
                            <div class="product__item__text">
                                <p><a href="{% url 'product_detail' product.slug %}" style="color: black;">{{ product.name }}</a></p>
                                {% if product.offer_applied and product.offer.is_active %}
                                    <h6>
                                        <strong>
                                            ₹ <span style="text-decoration: line-through;">
                                            {{ product.variants.first.price|floatformat:2 }}
                                            </span>
                                            {{ product.offer.variant.discounted_price|floatformat:2 }}
                                            <span style="color: red;"><br>{{ product.offer.discount_percentage }}% OFF</span>
                                        </strong>
                                    </h6>
                                {% else %}
                                    <h6><strong>₹ {{ product.variants.first.price|floatformat:2 }}</strong></h6>
                                {% endif %}
                            </div>                            
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="product__pagination">
                    {% if page_obj.has_previous %}
                    <a
                        href="?page={{ page_obj.previous_page_number }}&sort={{ sort_option }}&min_price={{ min_price }}&max_price={{ max_price }}"><i
                            class="fa fa-long-arrow-left"></i></a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a href="#" class="active">{{ num }}</a>
                    {% else %}
                    <a
                        href="?page={{ num }}&sort={{ sort_option }}&min_price={{ min_price }}&max_price={{ max_price }}">{{num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a
                        href="?page={{ page_obj.next_page_number }}&sort={{ sort_option }}&min_price={{ min_price }}&max_price={{ max_price }}"><i
                            class="fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg set-bg" data-setbg="{%static 'img/banner/banner-1.jpg'%}">
                    <div class="banner__pic" style="margin:80px;margin-bottom: 120px;">
                        <h2>Interested? <br />Shop This Plant Collection!</h2>
                        <p>Plants make for the best house companions, suitable for all your moods and every aesthetic.  brings you the 
                            widest variety of plants to choose from so you can buy plants online from the comfort of your home!</p>
                        <a href="{%url 'shop page'%}" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            {%for latest_product in latest_products%}
                            <div class="latest-prdouct__slider__item">
                                <a href="{%url 'product_detail' latest_product.slug %}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ latest_product.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ latest_product.name }}</h6>
                                        <span>{{ latest_product.variants.price }}</span>
                                    </div>
                                </a>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{%static 'img/logo.png'%}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: iamaparnasurendran@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/jquery.nice-select.min.js'%}"></script>
    <script src="{%static 'js/jquery-ui.min.js'%}"></script>
    <script src="{%static 'js/jquery.slicknav.js'%}"></script>
    <script src="{%static 'js/mixitup.min.js'%}"></script>
    <script src="{%static 'js/owl.carousel.min.js'%}"></script>
    <script src="{%static 'js/main.js'%}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if messages %}
                {% for message in messages %}
                    Swal.fire('{{ message }}');
                {% endfor %}
            {% endif %}
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#search-input').on('input', function() {
            var query = $(this).val();
            if (query.length > 2) {
                $.ajax({
                    url: '{% url "suggest_products" %}',
                    data: {
                        'search': query
                    },
                    success: function(data) {
                        $('#suggestions').empty();
                        if (data.length > 0) {
                            data.forEach(function(item) {
                                $('#suggestions').append('<li>' + item.name + '</li>');
                            });
                        } else {
                            $('#suggestions').append('<li>No suggestions found</li>');
                        }
                    }
                });
            } else {
                $('#suggestions').empty();
            }
        });
    
        $(document).on('click', '#suggestions li', function() {
            var text = $(this).text();
            $('#search-input').val(text);
            $('#search-form').submit();
        });
    });
    </script>
    

</body>

</html>
