{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ogani Template">
  <meta name="keywords" content="Ogani, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tivona</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
    rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/elegant-icons.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/nice-select.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/slicknav.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">
</head>

<body>
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <div class="header__top__right">
              <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </div>
              <div class="header__top__right__language">
                <img src="/media/language.png" alt="">
                <div>English</div>
              </div>
              <div class="header__top__right__auth">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile page' user.id %}"><i class="fa fa-user"></i>{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'login page' %}"><i class="fa fa-user"></i> Login/Signup</a>
                {% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="header__logo">
            <a href="{%url 'home page'%}"><img src="{%static './img/logo.png'%}" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6 col-lg-3" style="padding: 20px;">
          <nav class="header__menu">
            <ul>
              <li><a href="{%url 'home page'%}">Home</a></li>
              <li><a href="{%url 'shop page'%}">Store</a>
                <ul class="header__menu__dropdown">
                  {% for category in categories %}
                  {% if category.is_listed %}
                  <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
                  {% endif %}
                  {% endfor %}          
                </ul>
              </li>
              <li><a href="{%url 'shoping-cart'%}">Shop Cart</a></li>
              <li><a href="{%url 'contact page'%}">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3" style="padding: 20px;">
          <div class="header__cart">
            <ul>
              <li><a href="{%url 'wishlist'%}"><i class="fa fa-heart"></i></a></li>
              <li><a href="{%url 'shoping-cart'%}"><i class="fa fa-shopping-bag"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="humberger__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <div class="d-flex justify-content-center" style="background:url('../static/img/hero/banner.jpg'); ">
    <div class="form-container p-5 ">
      <form action="" method="post" class="p-5" style="background-color:rgba(93, 112, 98, 0.267);border-radius: 10px;">
        {%csrf_token%}
        <h2 class="mb-4 text-center text-light">LOGIN</h2>
        <div class="mb-3">
          <!-- <label for="user" class="form-label text-black">User name</label> -->
          <input type="text" class="form-control" id="user" placeholder="Enter username" name="user">
        </div>
        <div class="mb-3">
          <!-- <label for="pwd" class="form-label text-black">Password</label> -->
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <p style="color: rgb(26, 23, 23);">Create new
          <a class="text-success" href="{%url 'signup page'%}"><strong> Account</strong></a>
          <a class="text-dark"  href="{%url 'forgot_password'%}"> , Forgot Password??</a>
        </p>
        <div style="text-align: center;">
          <a  href="{% url 'social:begin' 'google-oauth2' %}" style="display: inline-block; background-color: #4285F4; color: #ffffff; border-radius: 4px; padding: 10px 20px; text-decoration: none; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); transition: background-color 0.3s;">
              <span style="vertical-align: middle;">Login with Google</span>
          </a>
        </div>
      </form>
    </div>
  </div>
  <!-- Footer Section Begin -->
  <footer class="footer spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__about__logo">
              <a href="./index.html"><img src="{%static 'img/logo.png'%}" alt=""></a>
            </div>
            <ul>
              <li>Address: 60-49 Road 11378 New York</li>
              <li>Phone: +65 11.188.888</li>
              <li>Email: iamaparnasurendran@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
          <div class="footer__widget">
            <h6>Useful Links</h6>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">About Our Shop</a></li>
              <li><a href="#">Secure Shopping</a></li>
              <li><a href="#">Delivery infomation</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Our Sitemap</a></li>
            </ul>
            <ul>
              <li><a href="#">Who We Are</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Innovation</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
            {% for message in messages %}
                Swal.fire('{{ message }}');
            {% endfor %}
        {% endif %}
    });
</script>
</html>