{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ogani Template">
  <meta name="keywords" content="Ogani, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tivona</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Css Styles -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/elegant-icons.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/nice-select.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/slicknav.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">
</head>

<body>
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <div class="header__top__right">
              <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </div>
              <div class="header__top__right__language">
                <img src="/media/language.png" alt="">
                <div>English</div>
              </div>
              <div class="header__top__right__auth">
                <a href="{%url 'signup page'%}"><i class="fa fa-user"></i> Login\Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="header__logo">
            <a href="{%url 'home page'%}"><img src="{%static './img/logo.png'%}" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6 col-lg-3" style="padding: 20px;">
          <nav class="header__menu">
            <ul>
              <li><a href="{%url 'home page'%}">Home</a></li>
              <li class="active"><a href="{%url 'shop page'%}">Store</a>
                <ul class="header__menu__dropdown">
                  {% for category in categories %}
                  {% if category.is_listed %}
                  <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li><a href="{%url 'shoping-cart'%}">Shop Cart</a></li>
              <li><a href="{%url 'contact page'%}">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3" style="padding: 20px;">
          <div class="header__cart">
            <ul>
              <li><a href="{%url 'wishlist'%}"><i class="fa fa-heart"></i></a></li>
              <li><a href="{%url 'shoping-cart'%}"><i class="fa fa-shopping-bag"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="humberger__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <div class="d-flex justify-content-center p-5" style="background:url('../static/img/hero/banner.jpg');">
    <div class="form-container p-5" style="background-color:rgba(93, 112, 98, 0.267);border-radius: 10px;">
      <form action="{% url 'otp page' %}" method="post" class="p-1">
        {% csrf_token %}
        <h3 class="p-3 text-center text-light">OTP Verification</h3>
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="generated_otp" value="{{ generated_otp }}">
        <input type="hidden" name="otp_timestamp" value="{{ otp_timestamp }}">
        <div class="mt-3 mb-3">
          <input type="text" class="form-control" id="OTP" placeholder="Enter OTP" name="otp" required>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
      <div class="d-flex justify-content-center" id="resendOtpContainer">
        <!-- Button to resend OTP -->
        <form action="{% url 'Resend_otp' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ user_id }}">
          <input type="hidden" name="generated_otp" value="{{ generated_otp }}">
          <input type="hidden" name="otp_timestamp" value="{{ otp_timestamp }}">
          <button type="submit" class="btn btn-primary">Resend OTP</button>
        </form>
      </div>

      <div class="d-flex justify-content-center p-2">
        <!-- Display OTP timer -->
        <p id="otpTimer" class="text-light">01:00</p>
      </div>
    </div>
  </div>

  <!-- JavaScript for OTP timer -->
  <script>
    $(document).ready(function () {
      var display = $('#otpTimer');
      var resendOtpButton = $('#resendOtpContainer button');

      function startTimer(duration, display) {
        var timer = duration, minutes, seconds;

        var intervalId = setInterval(function () {
          minutes = parseInt(timer / 60, 10);
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.text(minutes + ":" + seconds);

          if (--timer < 0) {
            clearInterval(intervalId); // Stop the timer when it reaches zero
            resendOtpButton.css('display', 'block');
          }
        }, 1000); // 1000 milliseconds = 1 second
      }

      // Start timer with an initial duration of 1 minute (60 seconds)
      startTimer(60, display);
      resendOtpButton.css('display', 'none');
    });
  </script>


  <!-- Footer Section Begin -->
  <footer class="footer spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__about__logo">
              <a href="{%url 'home page'%}"><img src="{%static 'img/logo.png'%}" alt=""></a>
            </div>
            <ul>
              <li>Address: 60-49 Road 11378 New York</li>
              <li>Phone: +65 11.188.888</li>
              <li>Email: iamaparnasurendran@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
          <div class="footer__widget">
            <h6>Useful Links</h6>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">About Our Shop</a></li>
              <li><a href="#">Secure Shopping</a></li>
              <li><a href="#">Delivery infomation</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Our Sitemap</a></li>
            </ul>
            <ul>
              <li><a href="#">Who We Are</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Innovation</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
            {% for message in messages %}
                Swal.fire('{{ message }}');
            {% endfor %}
        {% endif %}
    });
</script>

</html>